*{
    box-sizing: border-box;
}
body{
    background-color: darkgray;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.links {
    padding: 30px;
    flex-grow: 15;
    font-size: 16px;
    margin: 10px;
    width: fit-content;
    background-color: brown;
    border-radius: 100px;

    
}
.links li {
    list-style-type: none;

    
}

.links a{
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 70px;
    margin-bottom: 10px;
    
}
.links a:hover{
    background-color: aquamarine;
    color: black;
}
/*
@media screen and (max-width: 780px) {
    .links{ margin-left: 50px;}
    .tx{margin-left: 50px;}
}*/
.name{
    margin-left: 50px;
    font-size: 35px;
    flex-grow: 3;
    
    
}


.int{
    background-color: azure;
}
.int p{
    font-size: 20px;
}
.skills{
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: end;
}
.skill a{
    align-items: end;
    list-style-type:circle;
    color:white;
    font-size: 25px;
    text-decoration: none;
}
video{
    width: 100%;
    height: auto;
}
.midtext{
    font-size: 25px;
    background-color: aquamarine;
    color: black;
    height:auto;
    width: fit-content;
}
.footer{
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 50px;
}
.tx h2,p{
    margin-left: 100px;
}



